body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content{
    width: 50% ;
}

#input{
    width :400px;
}
@media (max-width : 800px) {
    #input{
        width :180px;
    }
}
.select{
    width: 160px;
    background: white;
    border: none;
    padding: 5px;
    margin: 23px;
    color: black;
    font-size: 14px;
    border: 1px solid #7171ccad;
    border-radius: 5px;
}
.select-year{
    width: 177px;
    background: white;
    padding: 3px;
    margin: 12px;
    border: 1px solid #4c638691;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 281px;
    margin-left: 14px;
}
.row span{
    color : gray;
    margin-left: 3px;
}
.row p{
    font-weight: bold;
}
.Links{
    border-bottom: 1px solid #5f9ea0b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 8px;
    margin-right: 12px;
    text-decoration: none;
}
.Links:hover{
    background: rgba(153, 156, 172, 0.16);
}

.parg{
    font-size: 15px;
    font-weight: normal;
}

.spin{
    display : "flex";
    justify-content: center;
    align-items: center;
}
.spin svg{
    font-size: 45px;
    color: black;
}